nav {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
nav h1 {
  position: relative;
  animation: myAnimation 5s infinite linear;
}

@keyframes myAnimation {
  0% {
    color: rgb(10, 9, 9);
  }
  25% {
    color: yellow;
  }
  50% {
    color: aqua;
  }
  100% {
    color: green;
  }
}

/* it make selecting the text color change and and selector pseudo class element */
::selection {
  color: rgb(247, 0, 255);
  background: aqua;
}
.menu {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 30px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(8, 7, 7);
}
.name {
  font-size: xx-large;
}
.namee {
  color: blue;
}
.icon {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  gap: 20px;
}
.para {
  display: flex;
  justify-content: space-around;
}
html {
  scroll-behavior: smooth;
}
.img img {
  width: 200px;
  border-radius: 0.5rem;
}
button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: large;
  /* width: 100px; */
  padding: 10px 35px;
}
button:hover {
  background-color: rgba(13, 55, 147, 0.758);
}
/* About section   */

.about-img img {
  width: 200px;
  border: 2px solid blue;
  border-radius: 0.5rem;
}

.aboutt {
  text-align: center;

  margin-top: 50px;
  color: blue;
}

/* blue line under section title */
hr {
  width: 120px;
  height: 3px;
  background-color: blue;
}
.profile {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 50px;
  margin-left: 200px;
}

.skilll {
  text-align: center;

  margin-top: 50px;
  color: blue;
}

.work-name {
  text-align: center;

  margin-top: 50px;
  color: blue;
}
.describe {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.skill-img img {
  width: 400px;
  border-radius: 10px;
  border: 4px solid blue;
}

.cont {
  text-align: center;

  margin-top: 50px;
  color: blue;
}

/* .contact-form {
  /* display: flex;
    flex-direction: column; */

  /* margin-left: 675px;
} */ 
 .formm{
  display: flex;
  align-content: center;
  justify-content: center;
  
 }
 .bttn{
  width: 170px;
  height: 40px;
 background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: large;
 }
 .bttn:hover{
  background-color: rgba(13, 55, 147, 0.758);
 }

footer {
  text-align: center;
  align-content: center;
  background-color: rgb(39, 116, 199);
  height: 40px;
  color: white;
}
.htmll {
  width: 400px;
  height: 75px;
  background-color: #ffff;
  border-radius: 10px;
  margin-top: 8px;

  box-shadow:
    -1px -1px 1px 1px #eeeeee,
    20px -1px 1px 1px #eeeeee;
}
.Htm {
  height: 10%;
  width: 95%;
  background-color: blue;
  border-radius: 10px;
}

.Cs {
  height: 10%;
  width: 85%;
  background-color: blue;
  border-radius: 10px;
}

.Java {
  height: 10%;
  width: 65%;
  background-color: blue;
  border-radius: 10px;
}

.Ux {
  height: 10%;
  width: 85%;
  background-color: blue;
  border-radius: 10px;
}
.namm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
.ic {
  color: blue;
}
.child{
  width: 200px;
  height: 150px;
  background-color: aqua;
  animation: worksss 5s  ;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}
.work{
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 40px;
  column-gap: 40px;
  justify-content: center;
}
.child:hover{
  background-color: rgba(0, 255, 255, 0.578);
  transform: scale(1.1);
  border: 2px solid greenyellow;
}

@keyframes worksss {
  0%{
    background-color: yellow;
  }
  25%{
    background-color: red;
    transform: scale(1.1);

  }
  50%{
    background-color: orange;
    transform: scale(1.2);

  }
  75%{
    background-color: cyan;
    transform: scale(0.9);

  }
  100%{
    background-color: darkgoldenrod;
  }
  
}