nav {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}

.menu {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 30px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(8, 7, 7);
}
.name {
  font-size: xx-large;
}
.namee {
  color: blue;
}
.icon {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  gap: 20px;
}
.para {
  display: flex;
  justify-content: space-around;
}
html {
  scroll-behavior: smooth;
}
.img img {
  width: 200px;
  border-radius: 0.5rem;
}
button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: large;
  /* width: 100px; */
  padding: 10px 35px;
}
button:hover {
  background-color: rgba(13, 55, 147, 0.758);
}
/* About section   */

.about-img img {
  width: 200px;
  border: 2px solid blue;
  border-radius: 0.5rem;
}

.aboutt {
  text-align: center;

  margin-top: 50px;
  color: blue;
}

/* blue line under section title */
hr {
  width: 120px;
  height: 3px;
  background-color: blue;
}
.profile {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 50px;
  margin-left: 200px;
}

.skilll {
  text-align: center;

  margin-top: 50px;
  color: blue;
}

.work-name {
  text-align: center;

  margin-top: 50px;
  color: blue;
}
.describe {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.skill-img img {
  width: 200px;
}

.cont {
  text-align: center;

  margin-top: 50px;
  color: blue;
}

.contact-form {
  /* display: flex;
    flex-direction: column; */
   
  margin-left: 675px;
}

footer {
  text-align: center;
  align-content: center;
  background-color: rgb(39, 116, 199);
  height: 40px;
  color: white;
}
