@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    font-family: "Poppins", sans-serif ;
    margin: 0;
    padding: 0;
}

nav{ 
     box-shadow: 0px -1px 2px 3px #8080802b;
    padding: 10px 0;
}

nav, ul{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
ul li a:hover{
   
 text-decoration: underline;
 color: rgb(63, 152, 152);
    transform: scale(2);
}

ul{
    list-style-type: none;
    gap: 40px;
}

a{
    color: black;
    text-decoration: none;
}
.name{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
 font-size: xx-large;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.bluee{
    color: blue;

}
.btn{
     display: flex;
     flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    margin-left: 145px;

}
 button{
     margin-top: 20px;
     border-radius: 8px;
    border-color: rgb(76, 153, 201);
    font-size: x-large;
    padding: 10px 30px 10px 30px;
    background-color: blue;
    color: azure;
}
button:hover{
   background-color: rgb(3, 14, 14); 
}
.icon{
margin-top: 30px;
display: flex;
justify-content: space-around;
align-content: center;
    
}



footer{
    /* margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: flex-end; */

    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(47, 118, 173);
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}